*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* border: 1px solid; */
}

.bg-dg{
    background-color: rgb(0, 58, 0);
}

.text-dg{
    color: rgb(0, 58, 0);
}